{% extends "admin/base-dashboard.html" %} {% load static %}

{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <a class="btn btn-success" style="margin-left: 5px;" href=""><b>Refresh</b></a>
          <h3 class="fw-bold mb-3"></h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;">{{ nama }}</div>
                        <div></div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped mt-3" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center;">Timer</th>
                                    <th scope="col" style="text-align: center;">J1</th>
                                    <th scope="col" style="text-align: center;">J2</th>
                                    <th scope="col" style="text-align: center;">J3</th>
                                    <th scope="col" style="text-align: center;">J4</th>
                                    <th scope="col" style="text-align: center;">Score Aka</th>
                                    <th scope="col" style="text-align: center;">Score Ao</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>00:00</td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <span id="j1-aka">-</span>
                                        /
                                        <span id="j1-ao">-</span>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <span id="j2-aka">-</span>
                                        /
                                        <span id="j2-ao">-</span>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <span id="j3-aka">-</span>
                                        /
                                        <span id="j3-ao">-</span>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <span id="j4-aka">-</span>
                                        /
                                        <span id="j4-ao">-</span>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <span id="ms-aka">-</span>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <span id="ms-ao">-</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const tbody = document.querySelector('tbody');

    const tatamiPk = "{{ tatami.pk }}";
    const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
    const socket = new WebSocket(protocol + window.location.host + `/ws/admin-control/${tatamiPk}`);

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data.command, data.details)
        if (data.command == 'mouse') {
            const details = data.details;
            const time = new Date().toLocaleTimeString().slice(0,5);
            const aka = details[0] || '-';
            const ao = details[1] || '-';
            const extra = details[2] || [];
    
            const tr = document.createElement('tr');
            tr.innerHTML = `
                <td>${time}</td>
                <td style="text-align:center;font-size:20px;">${aka} / ${ao}</td>
                <td style="text-align:center;font-size:20px;">${extra[0] || '-'}</td>
                <td style="text-align:center;font-size:20px;">${extra[1] || '-'}</td>
                <td style="text-align:center;font-size:20px;">${extra[2] || '-'}</td>
                <td style="text-align:center;font-size:20px;">${extra[3] || '-'}</td>
                <td style="text-align:center;font-size:20px;">${extra[4] || '-'}</td>
            `;
            tbody.appendChild(tr);
        };

    };
</script>
{% endblock content %}