{% extends "admin/base-dashboard.html" %} {% load static %}

{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <a class="btn btn-success" style="margin-left: 5px;" href=""><b>Refresh</b></a>
          <h3 class="fw-bold mb-3"></h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;">Admin Control</div>
                        <div></div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped mt-3" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center;">Timer</th>
                                    <th scope="col" style="text-align: center;">J1</th>
                                    <th scope="col" style="text-align: center;">J2</th>
                                    <th scope="col" style="text-align: center;">J3</th>
                                    <th scope="col" style="text-align: center;">J4</th>
                                    <th scope="col" style="text-align: center;">Score Aka</th>
                                    <th scope="col" style="text-align: center;">Score Ao</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="font-size: 30px;">
                                        <span id="minute">00</span>
                                        :
                                        <span id="secods">00</span>
                                        :
                                        <span id="milliseconds">00</span>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <span id="j1-aka">-</span>
                                        /
                                        <span id="j1-ao">-</span>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <span id="j2-aka">-</span>
                                        /
                                        <span id="j2-ao">-</span>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <span id="j3-aka">-</span>
                                        /
                                        <span id="j3-ao">-</span>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <span id="j4-aka">-</span>
                                        /
                                        <span id="j4-ao">-</span>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <span id="ms-aka">-</span>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <span id="ms-ao">-</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const tbody = document.querySelector('tbody');

    const tatamiPk = "{{ tatami.pk }}";
    const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
    const socket = new WebSocket(protocol + window.location.host + `/ws/admin-control/${tatamiPk}`);

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.command === 'mouse') {
            const details = JSON.parse(data.details);
            const time = new Date().toLocaleTimeString().slice(0,5);
            const aka = details[0] || '-';
            const ao = details[1] || '-';
            const codes = details[2] || [];
            const totalSeconds = details[3];
            const minutes = Math.floor(totalSeconds / 60);
            var seconds = totalSeconds % 60;
            if (seconds < 10) {
                seconds = `0${seconds}`
            }
            var ms = details[4] || 0;
            if (ms < 10) {
                ms = `0${ms}`
            }

            console.log(codes)

            let j1aka = '-', j2aka = '-', j3aka = '-', j4aka = '-';
            let j1ao = '-', j2ao = '-', j3ao = '-', j4ao = '-';

            codes.forEach(c => {
                if (c === 'a') j1aka = '1';
                else if (c === 'b') j1aka = '2';
                else if (c === 'c') j1aka = '3';

                else if (c === 'd') j1ao = '1';
                else if (c === 'e') j1ao = '2';
                else if (c === 'f') j1ao = '3';

                else if (c === 'g') j2aka = '1';
                else if (c === 'h') j2aka = '2';
                else if (c === 'i') j2aka = '3';

                else if (c === 'j') j2ao = '1';
                else if (c === 'k') j2ao = '2';
                else if (c === 'l') j2ao = '3';

                else if (c === 'n') j3aka = '1';
                else if (c === 'm') j3aka = '2';
                else if (c === 'o') j3aka = '3';

                else if (c === 'p') j3ao = '1';
                else if (c === 'q') j3ao = '2';
                else if (c === 'r') j3ao = '3';

                else if (c === 's') j4aka = '1';
                else if (c === 't') j4aka = '2';
                else if (c === 'u') j4aka = '3';

                else if (c === 'v') j4ao = '1';
                else if (c === 'w') j4ao = '2';
                else if (c === 'x') j4ao = '3';
            });


            const tr = document.createElement('tr');
            tr.innerHTML = `
                <td style="font-size: 30px;"><span>0${minutes}</span> : <span>${seconds}</span> : <span>${ms}</span></td>
                <td style="text-align:center;font-size:20px;"><b><span style="color: red">${j1aka}</span> / <span style="color: blue">${j2ao}</span></b></td>
                <td style="text-align:center;font-size:20px;"><b><span style="color: red">${j2aka}</span> / <span style="color: blue">${j1ao}</span></b></td>
                <td style="text-align:center;font-size:20px;"><b><span style="color: red">${j3aka}</span> / <span style="color: blue">${j3ao}</span></b></td>
                <td style="text-align:center;font-size:20px;"><b><span style="color: red">${j4aka}</span> / <span style="color: blue">${j4ao}</span></b></td>
                <td style="text-align:center;font-size:20px;"><b><span style="color: red">${aka}</span></b></td>
                <td style="text-align:center;font-size:20px;"><b><span style="color: blue">${ao}</span></b></td>
            `;
            tbody.prepend(tr);
        }
    };

</script>
{% endblock content %}