{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dashboard - Admin Tatami</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
    <link rel="icon" href="" type="image/x-icon"/>

    <script src="{% static 'js/plugin/webfont/webfont.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ambrilindo.min.css' %}" />
    <link rel="stylesheet" href="{% static 'icons/fontawesome-free/css/all.min.css' %}" />
    <link href="{% static 'select2/dist/css/select2.min.css' %}" rel="stylesheet">

    {% block style %}{% endblock style %}

  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar sidebar-style-2" data-background-color="dark">
        <div class="sidebar-logo">
          <div class="logo-header" data-background-color="dark">
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item {% if on == 'utama' or on == 'atlet' or on == 'tatami' or on == 'nomor-tanding' %}active{% endif %}">
                <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                  <i class="fas fa-home"></i>
                  <p>Dashboard</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="dashboard">
                  <ul class="nav nav-collapse">
                    <li class="{% if on == 'utama' %}active{% endif %}">
                      <a href="{% url 'admin-dashboard' event_pk=event.pk %}">
                        <span class="sub-item">Utama</span>
                      </a>
                    </li>
                    <li class="{% if on == 'atlet' %}active{% endif %}">
                      <a href="{% url 'admin-atlet' event_pk=event.pk %}">
                        <span class="sub-item">Atlet</span>
                      </a>
                    </li>
                    <li class="{% if on == 'nomor-tanding' %}active{% endif %}">
                      <a href="{% url 'admin-nomor-tanding' event_pk=event.pk %}">
                        <span class="sub-item">Nomor Tanding</span>
                      </a>
                    </li>
                    <li class="{% if on == 'tatami' %}active{% endif %}">
                      <a href="{% url 'admin-tatami' event_pk=event.pk %}">
                        <span class="sub-item">Tatami</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item {% if on == 'utusan' or on == 'perguruan' or on == 'rekapan' or on == 'roster-counter' %}active{% endif %}">
                <a data-bs-toggle="collapse" href="#rekapan" class="collapsed" aria-expanded="false">
                  <i class="fas fa-home"></i>
                  <p>Rekapan</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="rekapan">
                  <ul class="nav nav-collapse">
                    <li class="{% if on == 'utusan' %}active{% endif %}">
                      <a href="{% url 'admin-utusan' event_pk=event.pk %}">
                        <span class="sub-item">Utusan</span>
                      </a>
                    </li>
                    <li class="{% if on == 'perguruan' %}active{% endif %}">
                      <a href="{% url 'admin-perguruan' event_pk=event.pk %}">
                        <span class="sub-item">Perguruan</span>
                      </a>
                    </li>
                    <li class="{% if on == 'rekapan' %}active{% endif %}">
                      <a href="{% url 'admin-rekapan' event_pk=event.pk %}">
                        <span class="sub-item">Rekapan Bagan</span>
                      </a>
                    </li>
                    <li class="{% if on == 'roster-counter' %}active{% endif %}">
                      <a href="{% url 'roster-counter' event_pk=event.pk %}">
                        <span class="sub-item">Roster Counter</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              {% if admin_tatami %}
              <li class="nav-item">
                <a href="#" onclick="openFullscreenWindow('{% url 'scoring-board' tatami_pk=admin_tatami.tatami.pk %}'); return false;">
                  <i class="fas fa-home"></i>
                  <p>Scoring Board</p>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

      <div class="main-panel">
        <div class="main-header">
          <div class="main-header-logo">
            <div class="logo-header" data-background-color="dark">
              <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                  <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                  <i class="gg-menu-left"></i>
                </button>
              </div>
              <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
              </button>
            </div>
          </div>
          <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
            <div class="container-fluid">
              <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
              </nav>
              <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                <li class="nav-item topbar-user dropdown hidden-caret">
                  <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                    <span class="profile-username">
                      <span class="op-7">Hi,</span>
                      <span class="fw-bold">{{ request.user }}</span>
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <div class="dropdown-user-scroll scrollbar-outer">
                      <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                      </li>
                    </div>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>

        {% block content %}{% endblock content %}

      <footer class="footer">
          <div class="container-fluid d-flex justify-content-between">
            <nav class="pull-left">
              <ul class="nav">
                <li class="nav-item">
                  -
                </li>
              </ul>
            </nav>
            <div class="copyright">
              2025, made with <i class="fa fa-heart heart text-danger"></i> by
              <a href="">wellyfishy</a>
            </div>
            <div>
              Distributed by
              <a target="_blank" href="">Ambrilindo</a>.
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'js/plugin/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'js/ambrilindo.min.js' %}"></script>
    <script src="{% static 'select2/dist/js/select2.min.js' %}"></script>
    <script>
      function openFullscreenWindow(url) {
        const screenWidth = screen.availWidth;
        const screenHeight = screen.availHeight;
        window.open(
          url,
          '_blank',
          `toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,
          width=${screenWidth},height=${screenHeight},top=0,left=0`
        );
      }
    </script>
    {% block script %}{% endblock script %}
  </body>
</html>
  