{% extends "admin/base-dashboard.html" %} {% load static %}

{% block style %}
<style></style>
{% endblock style %}

{% block content %}
{% if bagan.tipe_tanding == '1' %}
<div class="container">
    <form method="POST">
    {% csrf_token %}
    <div class="page-inner">
        <div class="page-header">
            <a href="{% url 'admin-bagan-detail' event_pk=event.pk bagan_pk=bagan.pk %}" class="btn btn-danger">
                <b>Kembali</b>
            </a>
            <button type="submit" name="submit_type" value="kata-simpan" class="btn btn-success" style="margin-left: 5px;"><b>Simpan & Keluar</b></button>
          <h3 class="fw-bold mb-3"></h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;"><b style="color: red;">{{ detail_bagan.atlet1.nama_atlet }}</b> vs <b style="color: blue">{{ detail_bagan.atlet2.nama_atlet }}</b></div>
                        <div></div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                <th scope="col" style="text-align: center; width: 1000px;">Nama Atlet</th>
                                <th scope="col" style="text-align: center;">J1</th>
                                <th scope="col" style="text-align: center;">J2</th>
                                <th scope="col" style="text-align: center;">J3</th>
                                <th scope="col" style="text-align: center;">J4</th>
                                <th scope="col" style="text-align: center;">J5</th>
                                <th scope="col" style="text-align: center;">Total</th>
                                <th scope="col" style="text-align: center;">Pemenang</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <b><span style="color: red">{{ detail_bagan.atlet1.nama_atlet }}</span> - {{ detail_bagan.atlet1.perguruan.nama_perguruan }} - {{ detail_bagan.atlet1.utusan.nama_utusan }}</b>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="akaj1" name="akaScores" value="{{ aka_score.score1 }}">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="akaj2" name="akaScores" value="{{ aka_score.score2 }}">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="akaj3" name="akaScores" value="{{ aka_score.score3 }}">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="akaj4" name="akaScores" value="{{ aka_score.score4 }}">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="akaj5" name="akaScores" value="{{ aka_score.score5 }}">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 150%; text-align: center; margin-left: -13px;" id="totalAka" name="totalAka" value="{% if detail_bagan.score1 %}{{ detail_bagan.score1 }}{% else %}0.0{% endif %}">
                                    </td>
                                    <td style="text-align: center;">
                                        <input class="form-check-input" type="radio" name="pemenang" value="aka" style="transform: scale(2);">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <b><span style="color: blue">{{ detail_bagan.atlet2.nama_atlet }}</span> - {{ detail_bagan.atlet2.perguruan.nama_perguruan }} - {{ detail_bagan.atlet2.utusan.nama_utusan }}</b>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="aoj1" name="aoScores" value="{{ ao_score.score1 }}">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="aoj2" name="aoScores" value="{{ ao_score.score2 }}">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="aoj3" name="aoScores" value="{{ ao_score.score3 }}">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="aoj4" name="aoScores" value="{{ ao_score.score4 }}">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="aoj5" name="aoScores" value="{{ ao_score.score5 }}">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 150%; text-align: center; margin-left: -13px;" id="totalAo" name="totalAo" value="{% if detail_bagan.score2 %}{{ detail_bagan.score2 }}{% else %}0.0{% endif %}">
                                    </td>
                                    <td style="text-align: center;">
                                        <input class="form-check-input" type="radio" name="pemenang" value="ao" style="transform: scale(2);">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;">
                            Control Panel
                            <button type="button" class="btn btn-secondary" id="tampilkan-score" style="font-size: inherit; padding: 5px 10px; {% if bagan.tipe_tanding == '2' %}visibility: hidden{% endif %}">Tampilkan Score</button>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <select class="form-control" id="timer-choice">
                                <option value="0" selected>00:00</option>
                                <option value="30">00:30</option>
                                <option value="60">01:00</option>
                                <option value="90">01:30</option>
                                <option value="120">02:00</option>
                                <option value="150">02:30</option>
                                <option value="180">03:00</option>
                                <option value="210">03:30</option>
                                <option value="240">04:00</option>
                                <option value="270">04:30</option>
                                <option value="300">05:00</option>
                            </select>
                            <button type="button" class="btn btn-primary" id="start-timer" style="font-size: 25px;">Start</button>
                        </div>
                    </div>
                    <div class="card-body" style="text-align: center;">
                        <p style="font-weight: bold; font-size: 50px;">
                            <button type="button" id="timer-decrement" class="btn btn-primary" style="padding: 5px 10px; font-size: 20px;">-</button>
                            <span id="minutes">00</span>:
                            <span id="seconds">00</span>:
                            <span id="milliseconds">00</span>
                            <button type="button" id="timer-increment" class="btn btn-primary" style="padding: 5px 10px; font-size: 20px;">+</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;">
                            Kata Input
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <button type="button" class="btn btn-primary" id="kata-kirim" style="font-size: 25px;">Kirim</button>
                        </div>
                    </div>
                    <div class="card-body" style="text-align: center;">
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                <th scope="col" style="text-align: center;;">Info</th>
                                <th scope="col" style="text-align: center;">Kata</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <b><span style="font-size: 20px; color: red">Aka</span></b>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <select class="form-select select2" name="kata-aka" id="kata-aka">
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <b><span style="font-size: 20px; color: blue">Ao</span></b>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <select class="form-select select2" name="kata-ao" id="kata-ao">
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
{% else %}
<div class="container">
    <form method="POST">
    {% csrf_token %}
    <div class="page-inner">
        <div class="page-header">
            <a href="{% url 'admin-bagan-detail' event_pk=event.pk bagan_pk=bagan.pk %}" class="btn btn-danger">
                <b>Kembali</b>
            </a>
            <button type="submit" name="submit_type" value="kumite-simpan" class="btn btn-success" style="margin-left: 5px;"><b>Simpan & Keluar</b></button>
          <h3 class="fw-bold mb-3"></h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;"><b style="color: red;">{{ detail_bagan.atlet1.nama_atlet }}</b> vs <b style="color: blue">{{ detail_bagan.atlet2.nama_atlet }}</b></div>
                        <div></div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                <th scope="col" style="text-align: center;">Nama Atlet</th>
                                <th scope="col" style="text-align: center;">Score</th>
                                <th scope="col" style="text-align: center;">Senshu</th>
                                <th scope="col" style="text-align: center;">Criteria</th>
                                <th scope="col" style="text-align: center;">Pemenang</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <b><span style="color: red">{{ detail_bagan.atlet1.nama_atlet }}</span> - {{ detail_bagan.atlet1.perguruan.nama_perguruan }} - {{ detail_bagan.atlet1.utusan.nama_utusan }}</b>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <button type="button" class="btn btn-warning" id="aka-score-dec">-</button>
                                        <input type="number" style="text-align: center; width: 20%" id="aka-score" name="akaScore" value="0">
                                        <button type="button" class="btn btn-success" id="aka-score-inc">+</button>
                                    </td>
                                    <td style="text-align: center;">
                                        <input class="form-check-input" type="checkbox" name="aka-senshu" id="aka-senshu" style="transform: scale(2);">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <button type="button" class="btn btn-warning" id="aka-criteria-dec">-</button>
                                        <input type="number" style="text-align: center; width: 20%" id="aka-criteria" name="akaCriteria" value="0">
                                        <button type="button" class="btn btn-success" id="aka-criteria-inc">+</button>
                                    </td>
                                    <td style="text-align: center;">
                                        <input class="form-check-input" type="radio" name="pemenang" value="aka" style="transform: scale(2);">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <b><span style="color: blue">{{ detail_bagan.atlet2.nama_atlet }}</span> - {{ detail_bagan.atlet2.perguruan.nama_perguruan }} - {{ detail_bagan.atlet2.utusan.nama_utusan }}</b>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <button type="button" class="btn btn-warning" id="ao-score-dec">-</button>
                                        <input type="number" style="text-align: center; width: 20%" id="ao-score" name="aoScore" value="0">
                                        <button type="button" class="btn btn-success" id="ao-score-inc">+</button>
                                    </td>
                                    <td style="text-align: center;">
                                        <input class="form-check-input" type="checkbox" name="ao-senshu" id="ao-senshu" style="transform: scale(2);">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <button type="button" class="btn btn-warning" id="ao-criteria-dec">-</button>
                                        <input type="number" style="text-align: center; width: 20%" id="ao-criteria" name="aoCriteria" value="0">
                                        <button type="button" class="btn btn-success" id="ao-criteria-inc">+</button>
                                    </td>
                                    <td style="text-align: center;">
                                        <input class="form-check-input" type="radio" name="pemenang" value="ao" style="transform: scale(2);">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;">
                            Control Panel
                            {% if bagan.tipe_tanding == '1' %}
                            <button type="button" class="btn btn-secondary" id="tampilkan-score" style="font-size: inherit; padding: 5px 10px; {% if bagan.tipe_tanding == '2' %}visibility: hidden{% endif %}">Tampilkan Score</button>
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <select class="form-control" id="timer-choice">
                                <option value="0" selected>00:00</option>
                                <option value="30">00:30</option>
                                <option value="60">01:00</option>
                                <option value="90">01:30</option>
                                <option value="120">02:00</option>
                                <option value="150">02:30</option>
                                <option value="180">03:00</option>
                                <option value="210">03:30</option>
                                <option value="240">04:00</option>
                                <option value="270">04:30</option>
                                <option value="300">05:00</option>
                            </select>
                            <button type="button" class="btn btn-primary" id="start-timer" style="font-size: 25px;">Start</button>
                        </div>
                    </div>
                    <div class="card-body" style="text-align: center;">
                        <p style="font-weight: bold; font-size: 50px;">
                            <button type="button" id="timer-decrement" class="btn btn-primary" style="padding: 5px 10px; font-size: 20px;">-</button>
                            <span id="minutes">00</span>:
                            <span id="seconds">00</span>:
                            <span id="milliseconds">00</span>
                            <button type="button" id="timer-increment" class="btn btn-primary" style="padding: 5px 10px; font-size: 20px;">+</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
{% endif %}
<input type="hidden" id="tipe-tanding" value="{{ bagan.tipe_tanding }}">
{% endblock content %}

{% block script %}
<script>
    $('.select2').select2({
        width: '100%'
    });

    let interval = null;
    let milliseconds = 0;
    let totalSeconds = 0;
    let isRunning = false;
    let tampilkan = false;

    const tipeTanding = $('#tipe-tanding').val()

    let aka_score = 0 
    let ao_score = 0 

    let aka_criteria = 0
    let ao_criteria = 0

    const kataAka = document.getElementById('kata-aka');
    const kataAo = document.getElementById('kata-ao');

    function updateDisplay(seconds, ms) {
        if (seconds >= 0) {
            const minutes = Math.floor(seconds / 60);
            const secs = ((seconds % 60) + 60) % 60;
            $('#minutes').text(String(minutes).padStart(2, '0'));
            $('#seconds').text(String(secs).padStart(2, '0'));
            $('#milliseconds').text(String(ms).padStart(2, '0'));
        } 
    }

    const eventPk = {{ event.pk }}
    const baganPk = {{ bagan.pk }}
    const detailbaganPk = {{ detail_bagan.pk }}
    const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
    const socket = new WebSocket(protocol + window.location.host + `/ws/admin-dashboard/${eventPk}/bagan-detail/${baganPk}/control-panel/${detailbaganPk}`);

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data.command, data.details)

        const detailsArray = JSON.parse(data.details);
        const atlet = detailsArray[0];
        const score = detailsArray[1];

        if ((atlet === 'aka' || atlet === 'ao') && data.command >= '1' && data.command <= '5') {
            const prefix = atlet === 'aka' ? '#akaj' : '#aoj';
            const inputId = prefix + data.command;
            $(inputId).val(score);

            let scores = [];
            for (let i = 1; i <= 5; i++) {
                const val = parseFloat($(prefix + i).val());
                if (!isNaN(val) && val !== 0) {
                    scores.push(val);
                }
            }

            if (scores.length >= 3) {
                scores.sort((a, b) => a - b);
                const trimmedScores = scores.slice(1, -1);
                const total = trimmedScores.reduce((a, b) => a + b, 0);
                console.log(total)

                if (atlet === 'aka') {
                    $('#totalAka').val(total.toFixed(1));
                } else {
                    $('#totalAo').val(total.toFixed(1));
                }
            }
        }
    }

    $('#aka-senshu').on('change', function() {
        if ($(this).is(':checked')) {
            console.log('Checkbox is checked:', $(this).val());
            type = 'aka-senshu'
        } else {
            console.log('Checkbox is unchecked');
            type = 'aka-remove-senshu'
        }
        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'senshu',
                details: type,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });
    })

    $('#ao-senshu').on('change', function() {
        if ($(this).is(':checked')) {
            console.log('Checkbox is checked:', $(this).val());
            type = 'ao-senshu'
        } else {
            console.log('Checkbox is unchecked');
            type = 'ao-remove-senshu'
        }
        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'senshu',
                details: type,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });
    })

    $('#aka-score-dec').on('click', function() {
        if (aka_score != 0) {
            aka_score--;
            $.ajax({
                url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
                type: 'POST',
                data: {
                    action: 'aka-score-dec',
                    details: '',
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
            });
        }
        $('#aka-score').val(aka_score)
    })

    $('#aka-score-inc').on('click', function() {
        aka_score++;
        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'aka-score-inc',
                details: '',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });
        $('#aka-score').val(aka_score)
    })

    $('#aka-criteria-dec').on('click', function() {
        if (aka_criteria != 0) {
            aka_criteria--;
            $.ajax({
                url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
                type: 'POST',
                data: {
                    action: 'aka-criteria-dec',
                    details: '',
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
            });
        }
        $('#aka-criteria').val(aka_criteria)
    })

    $('#aka-criteria-inc').on('click', function() {
        aka_criteria++;
        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'aka-criteria-inc',
                details: '',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });
        $('#aka-criteria').val(aka_criteria)
    })

    $('#ao-score-dec').on('click', function() {
        if (ao_score != 0) {
            ao_score--;
            $.ajax({
                url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
                type: 'POST',
                data: {
                    action: 'ao-score-dec',
                    details: '',
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
            });
        }
        $('#ao-score').val(ao_score)
    })

    $('#ao-score-inc').on('click', function() {
        ao_score++;
        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'ao-score-inc',
                details: '',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });
        $('#ao-score').val(ao_score)
    })

    $('#ao-criteria-dec').on('click', function() {
        if (ao_criteria != 0) {
            ao_criteria--;
            $.ajax({
                url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
                type: 'POST',
                data: {
                    action: 'ao-criteria-dec',
                    details: '',
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
            });
        }
        $('#ao-criteria').val(ao_criteria)
    })

    $('#ao-criteria-inc').on('click', function() {
        ao_criteria++;
        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'ao-criteria-inc',
                details: '',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });
        $('#ao-criteria').val(ao_criteria)
    })

    $('#kata-kirim').on('click', function() {
        var kataAka = $('#kata-aka').val();
        var kataAo = $('#kata-ao').val();
        $.ajax({
            url: '/jury-panel/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'kata-kirim',
                details: JSON.stringify([kataAka, kataAo]),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });

        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'kata-kirim',
                details: JSON.stringify([kataAka, kataAo]),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });
    })

    $('#tampilkan-score').on('click', function() {
        if (tampilkan == false) {
            $('#tampilkan-score').text('Sembunyikan Score')
            tampilkan = true
        } else {
            $('#tampilkan-score').text('Tampilkan Score')
            tampilkan = false
        }
        let scoreAka = $('#totalAka').val();
        let scoreAo = $('#totalAo').val();
        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'tampilkan-score',
                details: JSON.stringify([scoreAka, scoreAo]),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });
    })

    $('#timer-increment').on('click', function() {
        totalSeconds++;
        updateDisplay(totalSeconds, milliseconds);

        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'timer-increment',
                details: '',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });
    })

    $('#timer-decrement').on('click', function() {
        totalSeconds--;
        updateDisplay(totalSeconds, milliseconds);

        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'timer-decrement',
                details: '',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });
    })

    $('#timer-choice').on('change', function () {
        if (!isRunning) {
            totalSeconds = parseInt($(this).val());
            milliseconds = 0;
            updateDisplay(totalSeconds, milliseconds);

            $.ajax({
                url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
                type: 'POST',
                data: {
                    action: 'timer-change',
                    details: totalSeconds,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
            });
        }
    });

    $('#start-timer').on('click', function () {
        const status = isRunning ? 'pause' : 'start';

        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'timer-status',
                details: status,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });

        if (status == 'pause') {
            $.ajax({
                url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
                type: 'POST',
                data: {
                    action: 'timer-sync',
                    details: JSON.stringify([totalSeconds, milliseconds]),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
            });
        }

        if (!isRunning) {
            isRunning = true;
            $(this).text('Pause').removeClass('btn-primary').addClass('btn-danger');

            interval = setInterval(() => {
                if (milliseconds === 0) {
                    if (totalSeconds === 0) {
                        clearInterval(interval);
                        isRunning = false;
                        $('#start-timer').text('Start').removeClass('btn-danger').addClass('btn-primary');
                        return;
                    }
                    totalSeconds--;
                    milliseconds = 99;
                } else {
                    milliseconds--;
                }
                updateDisplay(totalSeconds, milliseconds);
            }, 10);
        } else {
            isRunning = false;
            clearInterval(interval);
            $(this).text('Start').removeClass('btn-danger').addClass('btn-primary');
        }
    });

    const kataList = [
        "Blank",
        "Anan",
        "Anan Dai",
        "Ananko",
        "Aoyagi",
        "Bassai",
        "Bassai Dai",
        "Bassai Sho",
        "Chatanyara Kusanku",
        "Chibana No Kushanku",
        "Chinte",
        "Chinto",
        "Enpi",
        "Fukyugata Ichi",
        "Fukvugata Ni",
        "Gankaku",
        "Garyu",
        "Gekisai (Geksai) 1",
        "Gekisai (Geksai) 2",
        "Gojushiho",
        "Gojushiho Dai",
        "Gojushiho Sho",
        "Hakucho",
        "Hangetsu",
        "Haufa (Haffa)",
        "Heian Shodan",
        "Heian Nidan",
        "Heian Sandan",
        "Heian Yondan",
        "Heian Godan",
        "Heiku",
        "Ishimine Bassai",
        "Itosu Rohai Shodan",
        "Itosu Rohai Nidan",
        "Itosu Rohai Sandan",
        "Jiin",
        "Jion",
        "Jitte",
        "Juroku",
        "Kanchin",
        "Kanku Dai",
        "Kanku Sho",
        "Kanshu",
        "Kishimoto No Kushanku",
        "Kousoukun",
        "Kousoukun Dai",
        "Kousoukun Sho",
        "Kurunmfa",
        "Kusanku",
        "Kyan No Chinto",
        "Kyan No Wanshu",
        "Matsukaze",
        "Matsumura Bassai",
        "Matsumura Rohai",
        "Meikyo",
        "Myojo",
        "Naifanchin Shodan",
        "Naifanchin Nidan",
        "Naifanchin Sandan",
        "Naihanchi",
        "Nijushiho",
        "Nipaipo",
        "Niseishi",
        "Ohan",
        "Ohan Dai",
        "Oyadomari No Passai",
        "Pachu",
        "Paiku",
        "Papuren",
        "Passai",
        "Pinan Shodan",
        "Pinan Nidan",
        "Pinan Sandan",
        "Pinan Yondan",
        "Pinan Godan",
        "Rohai",
        "Saifa",
        "Sanchin",
        "Sansai",
        "Sanseiru",
        "Sanseni",
        "Seichin",
        "Seienchin (Seiyunchin)",
        "Seipai",
        "Seiryu",
        "Seishan",
        "Seisan (Sesan)",
        "Shiho Kousoukun",
        "Shinpa",
        "Shinsei",
        "Shisochin",
        "Sochin",
        "Suparinpei",
        "Tekki Shodan",
        "Tekki Nidan",
        "Tekki Sandan",
        "Tensho",
        "Tomari Bassai",
        "Unshu",
        "Unsu",
        "Useishi",
        "Wankan",
        "Wanshu"
    ];

    var kata_aka = '{{ detail_bagan.kata1 }}';
    var kata_ao = '{{ detail_bagan.kata2 }}';
    
    if (tipeTanding == '1') {
        function populateSelect(selectElement, selectedValue) {
            kataList.forEach((kata, index) => {
                const option = document.createElement('option');
                option.value = `${index} - ${kata}`;
                option.textContent = `${index} - ${kata}`;

                // Set selected if this option matches the value from the DB
                if (option.value === selectedValue) {
                    option.selected = true;
                }

                selectElement.appendChild(option);
            });
        }

        populateSelect(kataAka, kata_aka);
        populateSelect(kataAo, kata_ao);
    }
</script>
{% endblock script %}