{% extends "admin/base-dashboard.html" %} {% load static %}

{% block style %}
<style></style>
{% endblock style %}

{% block content %}
{% if bagan.tipe_tanding == '1' %}
<div class="container">
    <form method="POST">
    {% csrf_token %}
    <div class="page-inner">
        <div class="page-header">
            <a href="{% url 'admin-bagan-detail' event_pk=event.pk bagan_pk=bagan.pk %}" class="btn btn-danger">
                <b>Kembali</b>
            </a>
            <button type="submit" name="submit_type" value="simpan" class="btn btn-success" style="margin-left: 5px;"><b>Simpan & Keluar</b></button>
          <h3 class="fw-bold mb-3"></h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;"><b style="color: red;">{{ detail_bagan.atlet1.nama_atlet }}</b> vs <b style="color: blue">{{ detail_bagan.atlet2.nama_atlet }}</b></div>
                        <div></div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                <th scope="col" style="text-align: center; width: 1000px;">Nama Atlet</th>
                                <th scope="col" style="text-align: center;">J1</th>
                                <th scope="col" style="text-align: center;">J2</th>
                                <th scope="col" style="text-align: center;">J3</th>
                                <th scope="col" style="text-align: center;">J4</th>
                                <th scope="col" style="text-align: center;">J5</th>
                                <th scope="col" style="text-align: center;">Total</th>
                                <th scope="col" style="text-align: center;">Pemenang</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <b><span style="color: red">{{ detail_bagan.atlet1.nama_atlet }}</span> - {{ detail_bagan.atlet1.perguruan.nama_perguruan }} - {{ detail_bagan.atlet1.utusan.nama_utusan }}</b>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="akaj1" name="akaScores" value="0.0">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="akaj2" name="akaScores" value="7.5">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="akaj3" name="akaScores" value="7.5">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="akaj4" name="akaScores" value="8.5">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="akaj5" name="akaScores" value="8.5">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 150%; text-align: center; margin-left: -13px;" id="totalAka" name="totalAka" value="{% if detail_bagan.score1 %}{{ detail_bagan.score1 }}{% else %}0.0{% endif %}">
                                    </td>
                                    <td style="text-align: center;">
                                        <input class="form-check-input" type="radio" name="pemenang" value="aka" style="transform: scale(2);">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <b><span style="color: blue">{{ detail_bagan.atlet2.nama_atlet }}</span> - {{ detail_bagan.atlet2.perguruan.nama_perguruan }} - {{ detail_bagan.atlet2.utusan.nama_utusan }}</b>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="aoj1" name="aoScores" value="0.0">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="aoj2" name="aoScores" value="7.5">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="aoj3" name="aoScores" value="7.5">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="aoj4" name="aoScores" value="8.5">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 250%; text-align: center; margin-left: -15px;" id="aoj5" name="aoScores" value="8.5">
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <input type="text" style="width: 150%; text-align: center; margin-left: -13px;" id="totalAo" name="totalAo" value="{% if detail_bagan.score2 %}{{ detail_bagan.score2 }}{% else %}0.0{% endif %}">
                                    </td>
                                    <td style="text-align: center;">
                                        <input class="form-check-input" type="radio" name="pemenang" value="ao" style="transform: scale(2);">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;">
                            Control Panel
                            <button class="btn btn-secondary" id="tampilkan-score" style="font-size: inherit; padding: 5px 10px; {% if bagan.tipe_tanding == '2' %}visibility: hidden{% endif %}">Tampilkan Score</button>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <select class="form-control" id="timer-choice">
                                <option value="0" selected>00:00</option>
                                <option value="30">00:30</option>
                                <option value="60">01:00</option>
                                <option value="90">01:30</option>
                                <option value="120">02:00</option>
                                <option value="150">02:30</option>
                                <option value="180">03:00</option>
                                <option value="210">03:30</option>
                                <option value="240">04:00</option>
                                <option value="270">04:30</option>
                                <option value="300">05:00</option>
                            </select>
                            <button class="btn btn-primary" id="start-timer" style="font-size: 25px;">Start</button>
                        </div>
                    </div>
                    <div class="card-body" style="text-align: center;">
                        <p style="font-weight: bold; font-size: 50px;">
                            <button id="timer-decrement" class="btn btn-primary" style="padding: 5px 10px; font-size: 20px;">-</button>
                            <span id="minutes">00</span>:
                            <span id="seconds">00</span>:
                            <span id="milliseconds">00</span>
                            <button id="timer-increment" class="btn btn-primary" style="padding: 5px 10px; font-size: 20px;">+</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;">
                            Kata Input
                        </div>
                    </div>
                    <div class="card-body" style="text-align: center;">
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                <th scope="col" style="text-align: center;;">Info</th>
                                <th scope="col" style="text-align: center;">Kata</th>
                                <th scope="col" style="text-align: center;">MISC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <b><span style="font-size: 20px; color: red">Aka</span></b>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <select class="form-select select2" name="kata-aka" id="kata-aka">
                                        </select>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <button class="btn btn-primary" id="kata-aka-kirim">Kirim</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <b><span style="font-size: 20px; color: blue">Ao</span></b>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <select class="form-select select2" name="kata-ao" id="kata-ao">
                                        </select>
                                    </td>
                                    <td style="text-align: center; font-size: 20px;">
                                        <button type="button" class="btn btn-primary" id="kata-ao-kirim">Kirim</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
{% else %}

{% endif %}
{% endblock content %}

{% block script %}
<script>
    $('.select2').select2({
        width: '100%'
    });

    let interval = null;
    let milliseconds = 0;
    let totalSeconds = 0;
    let isRunning = false;

    const kataAka = document.getElementById('kata-aka');
    const kataAo = document.getElementById('kata-ao');

    function updateDisplay(seconds, ms) {
        if (seconds >= 0) {
            const minutes = Math.floor(seconds / 60);
            const secs = ((seconds % 60) + 60) % 60;
            $('#minutes').text(String(minutes).padStart(2, '0'));
            $('#seconds').text(String(secs).padStart(2, '0'));
            $('#milliseconds').text(String(ms).padStart(2, '0'));
        } 
    }

    const eventPk = {{ event.pk }}
    const baganPk = {{ bagan.pk }}
    const detailbaganPk = {{ detail_bagan.pk }}
    const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
    const socket = new WebSocket(protocol + window.location.host + `/ws/admin-dashboard/${eventPk}/bagan-detail/${baganPk}/control-panel/${detailbaganPk}`);

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data.command, data.details)

        const detailsArray = JSON.parse(data.details);
        const atlet = detailsArray[0];
        const score = detailsArray[1];

        if ((atlet === 'aka' || atlet === 'ao') && data.command >= '1' && data.command <= '5') {
            const prefix = atlet === 'aka' ? '#akaj' : '#aoj';
            const inputId = prefix + data.command;
            $(inputId).val(score);

            let scores = [];
            for (let i = 1; i <= 5; i++) {
                const val = parseFloat($(prefix + i).val());
                if (!isNaN(val) && val !== 0) {
                    scores.push(val);
                }
            }

            if (scores.length >= 3) {
                scores.sort((a, b) => a - b);
                const trimmedScores = scores.slice(1, -1);
                const total = trimmedScores.reduce((a, b) => a + b, 0);
                console.log(total)

                if (atlet === 'aka') {
                    $('#totalAka').val(total.toFixed(1));
                } else {
                    $('#totalAo').val(total.toFixed(1));
                }
            }
        }
    }

    $('#tampilkan-score').on('click', function() {
        let scoreAka = $('#totalAka').val();
        let scoreAo = $('#totalAo').val();
        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'tampilkan-score',
                details: JSON.stringify([scoreAka, scoreAo]),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });
    })

    $('#timer-increment').on('click', function() {
        totalSeconds++;
        updateDisplay(totalSeconds, milliseconds);

        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'timer-increment',
                details: '',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });
    })

    $('#timer-decrement').on('click', function() {
        totalSeconds--;
        updateDisplay(totalSeconds, milliseconds);

        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'timer-decrement',
                details: '',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });
    })

    $('#timer-choice').on('change', function () {
        if (!isRunning) {
            totalSeconds = parseInt($(this).val());
            milliseconds = 0;
            updateDisplay(totalSeconds, milliseconds);

            $.ajax({
                url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
                type: 'POST',
                data: {
                    action: 'timer-change',
                    details: totalSeconds,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
            });
        }
    });

    $('#start-timer').on('click', function () {
        const status = isRunning ? 'pause' : 'start';

        $.ajax({
            url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
            type: 'POST',
            data: {
                action: 'timer-status',
                details: status,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
        });

        if (status == 'pause') {
            $.ajax({
                url: '/scoring-board/{{ admin_tatami.tatami.pk }}/message-retriever',
                type: 'POST',
                data: {
                    action: 'timer-sync',
                    details: JSON.stringify([totalSeconds, milliseconds]),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
            });
        }

        if (!isRunning) {
            isRunning = true;
            $(this).text('Pause').removeClass('btn-primary').addClass('btn-danger');

            interval = setInterval(() => {
                if (milliseconds === 0) {
                    if (totalSeconds === 0) {
                        clearInterval(interval);
                        isRunning = false;
                        $('#start-timer').text('Start').removeClass('btn-danger').addClass('btn-primary');
                        return;
                    }
                    totalSeconds--;
                    milliseconds = 99;
                } else {
                    milliseconds--;
                }
                updateDisplay(totalSeconds, milliseconds);
            }, 10);
        } else {
            isRunning = false;
            clearInterval(interval);
            $(this).text('Start').removeClass('btn-danger').addClass('btn-primary');
        }
    });

    const kataList = [
        "Blank",
        "Anan",
        "Anan Dai",
        "Ananko",
        "Aoyagi",
        "Bassai",
        "Bassai Dai",
        "Bassai Sho",
        "Chatanyara Kusanku",
        "Chibana No Kushanku",
        "Chinte",
        "Chinto",
        "Enpi",
        "Fukyugata Ichi",
        "Fukvugata Ni",
        "Gankaku",
        "Garyu",
        "Gekisai (Geksai) 1",
        "Gekisai (Geksai) 2",
        "Gojushiho",
        "Gojushiho Dai",
        "Gojushiho Sho",
        "Hakucho",
        "Hangetsu",
        "Haufa (Haffa)",
        "Heian Shodan",
        "Heian Nidan",
        "Heian Sandan",
        "Heian Yondan",
        "Heian Godan",
        "Heiku",
        "Ishimine Bassai",
        "Itosu Rohai Shodan",
        "Itosu Rohai Nidan",
        "Itosu Rohai Sandan",
        "Jiin",
        "Jion",
        "Jitte",
        "Juroku",
        "Kanchin",
        "Kanku Dai",
        "Kanku Sho",
        "Kanshu",
        "Kishimoto No Kushanku",
        "Kousoukun",
        "Kousoukun Dai",
        "Kousoukun Sho",
        "Kurunmfa",
        "Kusanku",
        "Kyan No Chinto",
        "Kyan No Wanshu",
        "Matsukaze",
        "Matsumura Bassai",
        "Matsumura Rohai",
        "Meikyo",
        "Myojo",
        "Naifanchin Shodan",
        "Naifanchin Nidan",
        "Naifanchin Sandan",
        "Naihanchi",
        "Nijushiho",
        "Nipaipo",
        "Niseishi",
        "Ohan",
        "Ohan Dai",
        "Oyadomari No Passai",
        "Pachu",
        "Paiku",
        "Papuren",
        "Passai",
        "Pinan Shodan",
        "Pinan Nidan",
        "Pinan Sandan",
        "Pinan Yondan",
        "Pinan Godan",
        "Rohai",
        "Saifa",
        "Sanchin",
        "Sansai",
        "Sanseiru",
        "Sanseni",
        "Seichin",
        "Seienchin (Seiyunchin)",
        "Seipai",
        "Seiryu",
        "Seishan",
        "Seisan (Sesan)",
        "Shiho Kousoukun",
        "Shinpa",
        "Shinsei",
        "Shisochin",
        "Sochin",
        "Suparinpei",
        "Tekki Shodan",
        "Tekki Nidan",
        "Tekki Sandan",
        "Tensho",
        "Tomari Bassai",
        "Unshu",
        "Unsu",
        "Useishi",
        "Wankan",
        "Wanshu"
    ];

    function populateSelect(selectElement) {
        kataList.forEach((kata, index) => {
            const option = document.createElement('option');
            option.value = `${index} - ${kata}`;
            option.textContent = `${index} - ${kata}`;
            selectElement.appendChild(option);
        });
    }

    populateSelect(kataAka);
    populateSelect(kataAo);
</script>
{% endblock script %}