{% extends "admin/base-dashboard.html" %} {% load static %}

{% block style %}
<style>
.select2-container--default .select2-selection--multiple {
    min-height: 38px;
    max-height: 100px;  /* allow expansion */
    overflow-y: auto;
}
</style>
{% endblock style %}

{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
          <h3 class="fw-bold mb-3"></h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;">Kumpulan Bagan Event {{ event.nama_event }}</div>
                        <div>
                            <a href="#" class="btn btn-primary" style="font-size: inherit; padding: 5px 10px;" data-bs-toggle="modal" data-bs-target="#tambahBaganModal">Tambah Bagan</a>
                            <div class="modal fade" id="tambahBaganModal" tabindex="-1" aria-labelledby="tambahBaganModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                    <div class="modal-header bg-dark text-white">
                                        <h5 class="modal-title">Tambah Bagan</h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="nomor_tanding_pk">Nomor Tanding (Pilih satu).</label>
                                                <select class="form-select select2" id="nomor_tanding_pk" name="nomor_tanding_pk">
                                                    {% for nomor_tanding in nomor_tandings %}
                                                    <option value="{{ nomor_tanding.pk }}">{{ nomor_tanding.nama_nomor_tanding }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="tipe">Tipe</label>
                                                <select class="form-select" name="tipe">
                                                    <option value="normal">Normal</option>
                                                    <option value="referchange">Referchange</option>
                                                    <option value="round_robin">Round Robin</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" name="submit_type" value="tambah_bagan" class="btn btn-primary">Tambah</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-dark" style="font-size: inherit; padding: 5px 10px;" data-bs-toggle="modal" data-bs-target="#drawingBaganModal">Drawing Bagan</a>
                            <div class="modal fade" id="drawingBaganModal" tabindex="-1" aria-labelledby="drawingBaganModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                    <div class="modal-header bg-dark text-white">
                                        <h5 class="modal-title">Drawing Bagan</h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="nomor_tanding_pk">Nomor Tanding (Pilih satu atau lebih).</label>
                                                <select class="form-select select2" id="nomor_tanding_pk" name="nomor_tanding_pk" multiple>
                                                    <option value="semua">SEMUA NOMOR TANDING</option>
                                                    {% for nomor_tanding in nomor_tandings %}
                                                    <option value="{{ nomor_tanding.pk }}">{{ nomor_tanding.nama_nomor_tanding }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="nomor_tanding_pk">Tipe Shuffle.</label>
                                                <select class="form-select" name="shuffle_type">
                                                    <option value="perguruan">Perguruan</option>
                                                    <option value="kontingen">Utusan</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" name="submit_type" value="drawing_bagan" class="btn btn-primary">Drawing</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                            <th scope="col" style="text-align: center;">No</th>
                            <th scope="col" style="text-align: center;">Nama Bagan</th>
                            <th scope="col" style="text-align: center;">MISC</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bagan in bagans %}
                            <tr>
                                <td style="text-align: center;">{{ forloop.counter }}</td>
                                <td><a href="{% url 'admin-bagan-detail' event_pk=event.pk bagan_pk=bagan.pk %}"><b>({{ bagan.pk }}) {{ bagan.nama_bagan }}</b></td>
                                <td style="text-align: center;">
                                    <a href="{% url 'edit-admin-bagan-detail' event_pk=event.pk bagan_pk=bagan.pk %}" class="btn btn-primary">Edit</a>
                                    <!-- Trigger button -->
                                    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#hapusModal">Hapus</a>

                                    <!-- Modal -->
                                    <div class="modal fade" id="hapusModal" tabindex="-1" aria-labelledby="hapusModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="hapusModalLabel">Konfirmasi Hapus</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Apakah Anda yakin ingin menghapus data ini? Tindakan ini tidak bisa dibatalkan.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                            <a href="{% url 'hapus-admin-bagan-detail' event_pk=event.pk bagan_pk=bagan.pk %}" class="btn btn-danger">Hapus</a>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}

{% block script %}
<script>
    $('.modal').each(function () {
        const $modal = $(this);
        $modal.find('.select2').select2({
            dropdownParent: $modal,
            width: '100%'
    });
});
</script>
{% endblock script %}