{% extends "admin/base-dashboard.html" %} {% load static %} {% load custom_tags %}

{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
          <h3 class="fw-bold mb-3"></h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;">Nomor Tanding Event {{ event.nama_event }}</div>
                    </div>
                    
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                            <th scope="col" style="text-align: center;">No</th>
                            <th scope="col" style="text-align: center;">Nama Perguruan</th>
                            <th scope="col" style="text-align: center;">Gold 🥇</th>
                            <th scope="col" style="text-align: center;">Silver 🥈</th>
                            <th scope="col" style="text-align: center;">Bronze 🥉</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for perguruan in perguruans %}
                            <tr>
                                <td style="text-align: center;">{{ forloop.counter }}</td>
                                <td>{{ perguruan.nama_perguruan }}</td>
                                <td style="text-align: center;">{{ perguruan_medals|get_item:perguruan.pk|get_item:"gold"|default:"0" }}</td>
                                <td style="text-align: center;">{{ perguruan_medals|get_item:perguruan.pk|get_item:"silver"|default:"0" }}</td>
                                <td style="text-align: center;">{{ perguruan_medals|get_item:perguruan.pk|get_item:"bronze"|default:"0" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>

                {% for perguruan in perguruans %}
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;">Winner List: {{ perguruan.nama_perguruan }}</div>
                    </div>
                    
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                            <th scope="col" style="text-align: center;">No</th>
                            <th scope="col" style="text-align: center;">Juara 🥇🥈🥉</th>
                            <th scope="col" style="text-align: center;">Nama</th>
                            <th scope="col" style="text-align: center;">Utusan</th>
                            <th scope="col" style="text-align: center;">Kelas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for winner in perguruan.winners %}
                            <tr>
                                <td style="text-align: center;">{{ forloop.counter }}</td>
                                <td style="text-align: center;">
                                    <b>{% if winner.juara == '1' %}1 🥇
                                        {% elif winner.juara == '2' %} 2 🥈
                                        {% elif winner.juara == '3a' or winner.juara == '3b' %} 3 🥉{% endif %}
                                    </b>
                                </td>
                                <td><b>{{ winner.nama_atlet }}</b></td>
                                <td><b>{{ winner.utusan }}</b></td>
                                <td><b>{{ winner.nama_bagan }}</b></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}